
/* COMPONENTS */
@font-face{
    font-family:roboto-thin;
    src: url('../../../../assets/fonts/Roboto-Thin.ttf');
}

a{
    text-decoration: none;
    color: black;
    font-family: roboto-thin, serif;
}
ul{
    list-style: none;
}
.search-bar{
    background-color: #e6ebeb;
    height: 45px;
    border: none;
    border-radius: 10px;
    width: 30%;
    outline: none;
}
.preview-main{
    font-family: roboto-thin, serif;
    background-color: #F5F7F7;
    grid-template-columns:  0.25fr 1fr 3fr 1fr;
    grid-template-rows:auto;
    border-bottom:solid 1px #e0e2e2;
    font-weight: 700;
}
.preview-main:hover{
    border-bottom:solid 3px #e1e2e2 ;
    border-top:solid 1px #e1e2e2 ;
    cursor: pointer;
}

.checkbox{
  grid-column:1/2;
  margin: auto;
  padding-right: 10px;
 }

.from-prev{
    grid-column: 2/3;
}
.subject-prev{
    grid-column: 3/4;
}
.date-prev{
    grid-column:4/5;
    text-align: right;
}


/* HELPERS */

.bold-font{
font-family: roboto, serif;
}
.light-font{
    font-weight: 500;
}
.grid {
    display:grid;
}
 .flex{
     display: flex;
 }
 .column{
     flex-direction: column;
 }
 .justify-center{
     justify-content: center;
 }
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.self-center{
    align-self: center;
}
.green{
    color: green;
}
.red{
    color: red;
}
.flex-start{
    justify-content: start;
}
.mrg-top{
    margin-top: 60px;
}
.mrg-left{
    margin-inline-start: 30px;
}
.mrg-bottom{
    margin-bottom:30px ;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
.fiftyPw{
    width: 50%;
}
.padd30{
    padding:30px;
}
.padd50{
    padding:50px;
}
.contain{
    object-fit:contain;
}
.fiftyPh{
    height: 50%;
}


table{
    border: solid 1px black;
}


.from-td{
    width: 20%;
}
.subject-td{
    width: 40%;
}
.date-td{
    width: 20%;
}