@import './Modal.css';
/* COMPONENTS */
@font-face{
    font-family:roboto-thin;
    src: url('../../../../assets/fonts/Roboto-Thin.ttf');
}

hr{
    height: 2px;
    color:#e6ebeb; 
    width: 100%;
    margin: 0;
}

.side-bar{
padding: 10px;
}

ul{
    list-style: none;
    padding:10px;
}
.search-bar{
    background-color: #e6ebeb;
    height: 45px;
    border: none;
    border-radius: 10px;
    width: 30%;
    outline: none;
    margin: 20px 0;
   
}
.preview-main{
    font-family: roboto-thin, serif;
    background-color: #F5F7F7;
    grid-template-columns:  0.25fr 0.25fr 0.25fr 1fr 3fr 1fr;
    grid-template-rows:auto;
    border-bottom:solid 1px #e0e2e2;
    font-weight: 700;
    font-size:1rem;
}
.preview-main:hover{
    border-bottom:solid 3px #e1e2e2 ;
    border-top:solid 1px #e1e2e2 ;
    cursor: pointer;
}
.center-stars{
    grid-column: 1/2;
    margin: auto;
}

.full-star{
    
    color: #fada3d;
    /* position: absolute; */
    margin: auto;
    visibility: hidden ;
}

.star{
    
    color:#fada3d ;
    position: absolute;
    align-self: center;
}
.star:hover{
    color: #fcee30;
}

.read-unread{
    grid-column: 2/3;
    margin: auto;
    color:#909396 ;
}
.read-unread:hover{
    color:#3c4043;
 }
.trash{
  grid-column:3/4;
  margin: auto;
  color:#909396 ;
}
.trash:hover{
    color:#3c4043;
 }

.from-prev{
    grid-column: 4/5;
}
.subject-prev{
    grid-column: 5/6;
}
.date-prev{
    grid-column:6/7;
    text-align: right;
    padding-right: 5px;
}


/* HELPERS */
.anti-a{
    text-decoration: none;
    color:#77797b;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
.bold-font{
font-family: roboto, serif;
}
.light-font{
    font-weight: 800;
    color:#909396;
}
.grid {
    display:grid;
}
 .flex{
     display: flex;
 }
 .column{
     flex-direction: column;
 }
 .justify-start{
     justify-content: start;
 }
 .justify-center{
     justify-content: center;
 }
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.self-center{
    align-self: center;
}
.green{
    color: green;
}
.red{
    color: red;
}
.flex-start{
    justify-content: start;
}
.mrg-top{
    margin-top: 60px;
}
.mrg-left{
    margin-inline-start: 30px;
}
.mrg-bottom{
    margin-bottom:30px ;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
.padd30{
    padding:30px;
}
.padd50{
    padding:50px;
}
.contain{
    object-fit:contain;
}
.twentyPh{
    height: 20%;
}
.thirdyPh{
    height: 30%;
}
.fiftyPh{
    height: 50%;
}
.seventyPh{
    height: 70%;
}
.twentyPw{
 width: 20%;
}
.thirdyPw{
    width: 30%;
}
.fiftyPw{
width: 50%;
}
.eightyPw{
    width: 80%;
}
.w100P{
    width: 100%;
}
.h100vh{
    height: 100vh;
}
.h100P{
    height: 100%;
}


table{
    border: solid 1px black;
}


.from-td{
    width: 20%;
}
.subject-td{
    width: 40%;
}
.date-td{
    width: 20%;
}

/* SIDE BAR  */

.side-bar-container{
    font-family: roboto-thin,serif;
    font-size: 1rem;
    color: #77797b;
    font-weight: 700;
    padding-left: 20px;
}
.side-bar-container ul li{
cursor: pointer;
margin-bottom: 10px;
}
.side-bar-container ul li:hover{
    color: #3c4043;
}
.starred{
    cursor: pointer;
}

.emails-read{
    font-family: roboto;
    font-size: 0.8rem;
    font-weight: 500;
}

.outer-progress-div{
border-radius: 15px;
height: 26px;
width: 80%;
border:2px solid #3c4043;
}
.inner-progress-div{
border-radius: 14px;
background-color:#fada3d ;
height: 100%;
border-right:1px solid #3c4043;
color: #3c4043;
font-size: 0.9rem;
text-align: left;
padding-left: 5px;
padding-top: 2px;
}



/* GMAIL COMPOSE BUTTON ------------------------------------------------------*/
.btn-compose {
    height: 56px;
    width: 56px;
    border-radius: 50%;
	background-color: white;
    color: #3c4043;
    display: inline-flex;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
	transition: 0.5s;
}
.btn-compose .text-compose {
    margin-left: 1px;
    font-size: 14px;
    line-height: 54px;
    display: none;
}
.btn-compose::before {
	background-image: url(https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    content: '';
    min-width: 56px;
    display: block;
}

.btn-compose:hover {
    cursor: pointer;
	background-position: 10px;
	width: 150px;
	border-radius: 90px;
	text-decoration: none;
}
.btn-compose:hover .text-compose {
	display: block;
}

/*----------------------------------------------------------------------------------------------------*/

/* EMAIL DETAILS  */
.email-details{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    align-items: flex-start;
    padding: 20px;
}
.backspace{ 
    cursor: pointer;
}
.backspace:hover{
    color: #f1cf0e;
}
.email-body{
    background-color: #e5e8f0d2;
    height: 60%;
    width: 70%;
    padding:20px
}
.btn-delete{
    font-family: roboto,serif;
    border-radius: 10px;
    border: none;
    background-color: #393B44;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.btn-delete:hover{
    color:#fada3d;
    background-color:#393B44  ;
}
.email-details h1{
    text-align: center;
    margin: 0;
}

/* RESPONSIVENESS ------------------------------- */

/* Tablet */

@media(max-width:900px){
    .preview-main{
        font-size: 0.8rem;
    }
    .side-bar-container{
        font-size: 0.8rem;
    }
    .btn-compose:hover {
        width: 120px;
    }
       
}

/* Mobile  */

@media(max-width:550px){
    
   .email-container {
       flex-direction: column;
   }
   .sidebar-out{
       width: 100%;
   }
   .emailslist-out{
       width: 100%;
   }
    
    .side-bar-container{
        display: flex;
        flex-direction: row;
        font-size: 0.6rem;
    }
    .side-bar-container ul{
        width:70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .side-bar-container ul li{
        margin: auto;
        margin-inline-start: 20px;
    }
    .emails-read{
        margin-inline-start: 20px;
        margin-top: 3px;
        font-size: 0.6rem; 
    }  
}