
@font-face{
    font-family: roboto;
    src: url("../fonts/Roboto-Medium.ttf")
}

/* notes */

.notes{
    max-width: 1060px;
    margin: 10px auto;
    font-family: roboto;
    column-count: 3;
    column-gap: 40px;
    column-span: all;
    column-rule: 2px solid #ffe6e600;
    page-break-inside: avoid;
    break-inside: avoid;
}
.note{
    width: 100%;
    background-color: #F5F7F7;
    color: #33353d;
    margin: 0 0 13px 0;
    padding: 20px;
    break-inside: avoid;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.781);
}
.note:hover{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.781);
}
.text-note{
    background-color: #ffe6e600;
    resize: none;
    font-family: roboto;
    width: 100%;
    border-style: none; 
}


/* add-note */

.add-note{
    background-color: #8d93ab45;
    padding: 20px;
}
.input-text{
    outline: none;
    border: none;
    border-radius:10px
}
.control-add-btn{
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 13px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 6px;
    color: #33353d;
}
.control-add-btn:hover{
    background-color: #00000017;
    box-shadow: 0 0 9px 0px #00000023;
}


/* edit-note */

.edit-note{
    margin: 0;
    flex-direction: row-reverse;
}
.done-edit-btn{
    cursor: pointer;
    width: 100%;
    background-color: rgb(44, 175, 88);
    text-align: center;
}
.edit-btn{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}
.edit-small-btn:hover{
    box-shadow: 0 0 20px 0px black;
    background-color: #afabab;
    color: #33353d;
}
 
/* HELPERS */

 .flex{
     display: flex;
 }
 .column{
     flex-direction: column;
 }
 .justify-center{
     justify-content: center;
 }
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
.contain{
    object-fit:contain;
}

/* Tablet */

@media (max-width: 1100px){
    body{
        background-color: rgba(255, 0, 0, 0.219);
    }
}
