
@font-face{
    font-family: roboto;
    src: url("../fonts/Roboto-Medium.ttf")
}

/* notes */

.notes{
    max-width: 1060px;
    margin: 0 auto;
    font-family: roboto;
    column-count: 3;
    column-gap: 40px;
    column-span: all;
    column-rule: 1px solid lightblue;
    page-break-inside: avoid;
    break-inside: avoid;
}
.note{
    background-color: green;
    width: 100%;
    /* margin:20px 0; */
    margin: 0 0 13px 0;
    padding: 20px;
    break-inside: avoid;
}
.text-note{
    width: 200px;
    background-color: green;
    color: black;
    resize: none;
    font-family: roboto;
    width: 100%;
}


/* add-note */

.add-note{
    background-color: red;
    text-align: center;
    padding: 20px;
}

/* edit-note */

.edit-note{
    margin: 0;
}
.edit-note:hover{
    background-color:rgba(255, 0, 0, 0.24);
}
.done-edit-btn{
    cursor: pointer;
    width: 100%;
    background-color: rgb(44, 175, 88);
    text-align: center;
}
.done-edit-btn:hover{
    background-color: rgb(68, 175, 103);
}
/* .remove-note{
    
} */
.edit-btn{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 3px;
}
.edit-btn:hover{
    background-color:rgba(255, 0, 0, 0.24);
}
 
/* HELPERS */

 .flex{
     display: flex;
 }
 .column{
     flex-direction: column;
 }
 .justify-center{
     justify-content: center;
 }
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.link{
    text-decoration: none;
    cursor: pointer;
}
.contain{
    object-fit:contain;
}

