@import url("../../apps/keep/assets/css/keep.css"); 

@import url("../../apps/mail/assets/css/mail.css"); 
@font-face{
    font-family: roboto;
    src: url("../fonts/Roboto-Medium.ttf")
}

*{
    box-sizing: border-box;
}
body {
    margin:0;
    background-color: #f1f3f8;
}
.nav-bar{
    background-color: #393b44;
    height: 80px;
}


@media (max-width: 500px){
    .nav-bar{
        height: 50px;
    }
}





