@import url("../../apps/keep/assets/css/keep.css"); 
@import url("../../apps/mail/assets/css/mail.css"); 

@font-face{
    font-family: roboto;
    src: url("../fonts/Roboto-Medium.ttf")
}
@font-face{
    font-family: dosis;
    src: url("../fonts/Dosis-Medium.ttf")
}


*{
    box-sizing: border-box;
}
body {
    margin:0;
    background-color: #f1f3f8;
}

.nav-bar{
    
    background-color: #393b44;
    height: 80px;
    color:#F1F3F8;
    font-family: roboto,serif;
    font-size: 1.4rem;
    text-decoration: none;
    font-family: dosis;
    
}

.nav-item-div{
    height: 100%;
    width: 10%;
    
}
.nav-item-div:hover{
    border-bottom: 4px solid #fada3d;  
}
.nav-item{
    color:#F1F3F8;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
    text-align: center;  
}
.nav-item:hover{
    color: #fada3d;
}

@media (max-width: 500px){
    .nav-bar{
        height: 50px;
    }
}





